<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600'><link rel="stylesheet" href="/static/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-wrap">
	<div class="login-html">
<!-- 		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label> -->
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">

			<div class="sign-up-htm">
				<form action="/login" method="POST">
					<div class="group">
						<label for="user" class="label">TC</label>
						<input id="user" type="text"  name = "tc" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">İSİM</label>
						<input id="pass" type="text"  name = "isim" class="input" >
					</div>
					<div class="group">
						<label for="pass" class="label">SOYİSİM</label>
						<input id="pass" type="text"  name = "soyisim" class="input" >
					</div>
					<div class="group">
						<label for="pass" class="label">DOĞUM YILI</label>
						<input id="pass" type="text"  name = "dogum" class="input">
					</div>
				
					<div class="group">
						<input type="submit" class="button" value="SEND">
		
				</form>

				<div>
					{% with messages = get_flashed_messages() %}
   						{% if messages %}
    						{% for message in messages %}
								<span style="text-align: center; color: aqua;">
									<p>{{ message }}</p>
								</span>	
      						{% endfor %}
   						{% endif %}
					{% endwith %}
				</div>

				
			</div> 

		</div>
	
	</div>
</div>

<!-- partial -->
  
</body>
</html>
